.thumbnail img {
  max-width: 14em;
}

.thumbnail .description {
  color: #7f7f7f;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.card-padding {
  padding: 1em;
}

.card-margin {
  margin: 1em 0;
}

nav {
  margin-bottom: 1em;
}